* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;

}


.container {
    height: 100vh;
    box-sizing: border-box;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    overflow-x: hidden; 
}

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    overflow: hidden; 
    position: relative;

}

.introduction-section {
    
    flex-wrap: nowrap;
    height: 100vh;
    overflow: hidden; 
    
}

.programs {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    z-index: 2;
    background-image: url("images/TreesBackground.png");
}

.contact {
    align-self: flex-start;
    background-image: url("images/RootBackground.png");
    z-index: 4;  
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
}

.tree {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
  
    /* box-shadow: 15px 15px 30px darkgray; */
    box-shadow: inset 0px 0px 10px black, 0px 15px 30px black ;
    /* background-color: rgb(183, 178, 178); */
    background-color: white;

}

.mid-tree {
    box-shadow: inset 0px 0px 10px black, 0px 15px 30px black ;
}

.trees {
    top: 25vh;
    height: 100vh;
    width: 2vw;
    position:absolute;
    z-index: 2;
    filter: invert(48%) sepia(79%) hue-rotate(86deg) ;
    opacity: 90%;

}

.panda1 {
    top: 75vh;
    left: 10vw;
    position:absolute;
    z-index: 3;
    display: none;
}

.panda2 {
    top: 75vh;
    left: 43vw;
    position:absolute;
    z-index: 3;
    display: none;
}

.panda3 {
    top: 75vh;
    left: 75vw;
    position:absolute;
    z-index: 3;
    display: none;
}

.right:hover .panda3 {
    display: block;
}


.middle:hover .panda2 {
    display: block;
}


.left:hover .panda1 {
    display: block;
}

.trees1 {
    top: 40.5vh;
    left: -3vw;
}

.trees7 {
    top: 40.5vh;
    left: 5vw;
}

.trees8 {
    top: 40.5vh;
    left: 10vw;
}

.left:hover .trees1 {
    transform: rotate(-15deg);
    transform-origin: 10em 30em;
}

.left:hover .trees2 {
    transform: rotate(15deg);
    transform-origin: 1em 35em;
}

.left:hover .trees7 {
    transform: rotate(-30deg);
    transform-origin: 10em 30em;
}

.left:hover .trees8 {
    transform: rotate(30deg);
    transform-origin: 1em 35em;
}

.middle:hover .trees3 {
    transform: rotate(-15deg);
    transform-origin: 10em 30em;
}

.middle:hover .trees4 {
    transform: rotate(15deg);
    transform-origin: 1em 35em;
}

.middle:hover .trees9 {
    transform: rotate(-30deg);
    transform-origin: 10em 30em;
}

.middle:hover .trees10 {
    transform: rotate(30deg);
    transform-origin: 1em 35em;
}

.right:hover .trees5 {
    transform: rotate(-15deg);
    transform-origin: 10em 30em;
}

.right:hover .trees6 {
    transform: rotate(15deg);
    transform-origin: 1em 35em;
}

.right:hover .trees11 {
    transform: rotate(-30deg);
    transform-origin: 10em 30em;
}

.right:hover .trees12 {
    transform: rotate(30deg);
    transform-origin: 1em 35em;
}

.trees2 {
    top: 28vh;
    left: 17vw;
}
.trees3 {
    top: 40.5vh;
    left: 30vw;
}
.trees4 {
    top: 28vh;
    left: 50vw;
}

.trees9 {
    top: 40.5vh;
    left: 39vw;
}
.trees10 {
    top: 28vh;
    left: 45vw;
}

.trees5 {
    top: 40.5vh;
    left: 62vw;
}

.trees6 {
    top: 28vh;
    left: 83vw;
}

.trees11 {
    top: 40.5vh;
    left: 70vw;
}

.trees12 {
    top: 28vh;
    left: 78vw;
}
.leaf {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6vh;
    left: 50vw;
    box-shadow: 5px 5px 40px black;
    height: 38em;
    width: 38em;
    border-radius: 25em 0em 25em 0em;
    transform: rotate(0deg);
    z-index: 1;
    position: absolute;
}

article {
    background-color: white;
    box-shadow: 15px 15px 30px darkgray;
}

.title {
    font-size: 7rem;
    display: block;
    margin: 5rem 0rem 0rem 5rem;
    font-family: 'Gochi Hand', cursive; 
    z-index: -2;
}

.content {
    font-size: 3.5rem;
    margin: 14rem 0rem 0rem 5rem;
    font-family: 'Gochi Hand', cursive; 
    z-index: -2;
}

video {
    height: 30em;
    width: 30em;
}

.leaf2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 45vh;
    left: 25vw;
    height: 15em;
    width: 15em;
    border-radius: 10em 0em 10em 0em;
    transform: rotate(-100deg);
    z-index: 1;
    position: absolute;
}



/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(123, 152, 130);
    border-radius: 1em;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.leaf3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 33vw;
    height:15em;
    width: 15em;
    margin-top: -15rem;
    border-radius: 20em 0em 20em 0em;
    transform: rotate(-60deg);
    z-index: 1;
    position: absolute;
}

.leaf-icon {
    transform: rotate(100deg);
}

.leaf2:hover {
    box-shadow: 5px 5px 40px black;

}

.leaf3:hover {
    box-shadow: 5px 5px 40px black;

}


.leaf-video {
    border-radius: 50%;
}

.background {
    background-image: url("images/LeavesBackground.png");
    opacity: 65%;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -2 ;
}

.play {
    display: flex;
    justify-content: center;    
    margin-top: 5vh;
}

.form-container {
    box-shadow: 0px 0px 20px black;
    padding: 2em;
    border-radius: 0.3em;
    margin-bottom: 2em;
    font-family: 'Sniglet', cursive;
    width: 35vw;
}

.form-group {
    margin-top: 1em;
    width: 100%;
    font-size: 1.2em;
}

.form-group input, .form-group textarea {
    font-family: 'Sniglet', cursive;
    width: 100%;
    border: 1px solid lightgray;
    font-size: 1em;
    border-radius: 0.1em;
}

textarea {
    resize: none;
}

button {
    font-size: 1em;
    font-family: 'Sniglet', cursive;
    width: 100%;
    padding: 0.5em;
    border: none;
    transition: .3s ease background-color;
    border-radius: 0.5em;
}

button:hover {
    background-color: rgb(166, 132, 178);
}

.mail-icon {
    transform: rotate(60deg);
}

@media screen and (max-width: 700px) {
    .leaf {
        display: none;
    }

  }

  @media screen and (max-width: 1024px) {
    .leaf {
        width: 25em;
        height: 30em;
    }

    .leaf-video {
        width: 17em;
        height: 17em;
    }

    .introduction-section {
        font-size: 1em;
    }

    .title {
        font-size: 4em;
    }

    .content {
        font-size: 2em;
    }

    .leaf3 {
        top: 20em;
        height: 10em;
    }

    .leaf2 {
        height: 12em;
        width: 8em;
    }

    .programs {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        justify-content: space-between;
    }

    .trees {
        display: none;
    }

    .tree {
        margin: 5em;
    }

    .form-container {
        height: 28em;
    }

    textarea {
        height: 8em;
    }

  }

  @media screen and (max-width: 500px) {
    .leaf1 {
        display: none;
    } 

    .leaf2 {
        top: 15em;
    }

    .title {
        font-size: 2em;
    }

    .content {
        font-size: 2em;
        margin-top: 7em;
    }

    .form-container {
        width: 20em;
    }
    
  }